@using Microsoft.AspNet.Identity
@using Xeber.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="pull-right options" style="padding-top:0px;">
                @Html.ActionLink("Xoş geldiniz , " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="pull-right options">
                <a href="javascript:document.getElementById('logoutForm').submit()">Çıxış</a>
            </div>
        </div>
    }
}
else
{
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="pull-right options">
            @Html.ActionLink("Qeydiyyat", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </div>
    </div>



    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="pull-right options">
            @Html.ActionLink("Giriş", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </div>
    </div>
}